<% content_for :sidebar do %>

<h3>ゲーミフィケーション</h3>

<div id="glist-menu">
  <%= link_to_unless_current 'Myステータス', {action: 'index'} %><br>
  <%= link_to_unless_current 'チュートリアル', {action: 'tutorial'} %><br>
  <%= link_to_unless_current '獲得バッジ', {action: 'badges'} %><br>
  <%= link_to_unless_current 'ランキング', {action: 'ranking'} %><br>
  <%= link_to_unless_current 'メンバー', {action: 'member'} %><br>
</div>

<% end %>
