<h2>ランキング</h2>

<div id="user-ranking">
  <ul id="ranking-list">
    <li><%= link_to_unless_current '全体', {action: 'ranking', type: 'total'} %></li>
    <li><%= link_to_unless_current '月間', {action: 'ranking', type: 'monthly'} %></li>
    <li><%= link_to_unless_current 'バッジ', {action: 'ranking', type: 'badges'} %></li>
  </ul>
  <table border="1">
    <tr>
      <th>順位</th>
      <th>ユーザ名</th>
      <th>ポイント</th>
    </tr>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= user.user.login %></td>
        <td><%= user.point %></td>
      </tr>
    <% end %>
  </table>

  

</div>

<%= render 'sidebar' %>
