<%= stylesheet_link_tag 'tutorial.css', {plugin: 'gamification', media: 'screen'} %>

<%= form_tag({action: 'update_agile'}) do %>
<div id="agile-check">
  <h2>アジャイル型PBLチェックリスト</h2>
  <%= submit_tag '更新' %>
  <h4>A. 初心者リスト</h4>
  <ul>
  <% @check_list_a.each do |l| %>
    <li>
    <%= check_agile(l) %>
    <%= l[:title] %>
    </li>
  <% end %>
  </ul>

  <h4>B. 中級者リスト</h4>
  <ul>
  <% @check_list_b.each do |l| %>
    <li>
    <%= check_agile(l) %>
    <%= l[:title] %>
    </li>
  <% end %>
  </ul>

  <h4>C. 上級者リスト</h4>
  <ul>
  <% @check_list_c.each do |l| %>
    <li>
    <%= check_agile(l) %>
    <%= l[:title] %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<h2>ゲーミフィケーション機能チュートリアル</h2>

<div id="tuts-list">
<% @tuts.each do |tut| %>
  <% if tut[:flag] == 0 %>
    <div><%= image_tag('/tutorial/batsu.png', {width: 20, height: 20, plugin: 'gamification'}) %>
    <%= tut[:title] %></div>
  <% elsif tut[:flag] == 1 %>
    <div style="background-color: #dcdcdc; text-decoration: line-through;"><%= image_tag('/tutorial/check.png', {width: 20, height: 20, plugin: 'gamification'}) %>
    <%= tut[:title] %></div>
  <% end %>
<% end %>
</div>

<%= render 'sidebar' %>
